@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>BeatLeader</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <p>
            Beatleader is a platform where you can easily share your Beat Saber scores on the internet for the world to see. 
        </p>
    </div>
</div>